@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../public/assets/fonts/noir-pro/styles.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import './reset.scss';

@for $i from 1 through 20 {
  .sidebar-menu-item-h-#{$i} {
    height: calc(#{$i} * 40px);
  }
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  width: 12px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #242b3099;
}
